.home {
  margin-top: 45px;
  margin-bottom: 50px;
}
.home .hot-driver-circle {
  height: 100%;
  border-bottom: 1px solid #f6f6f6;
}
.home .hot-driver-circle .title {
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  margin-left: 20px;
  background: url(../../../assets/img/热门车友圈@2x.png) no-repeat left;
  background-size: 18px;
  font-size: 14px;
  font-weight: bold;
  font-family: PingFangSC-Medium;
}
.home .hot-driver-circle .circle-list {
  /*设置滚动条隐藏*/
  height: 205px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0 20px 20px;
}
.home .hot-driver-circle .circle-list::-webkit-scrollbar {
  display: none;
}
.home .hot-driver-circle .circle-list .item {
  height: 178px;
  padding: 0 12px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.home .hot-driver-circle .circle-list .item .circledetail-link {
  display: block;
}
.home .hot-driver-circle .circle-list .item .circledetail-link .item-title {
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
}
.home .hot-driver-circle .circle-list .item .circledetail-link .imglist {
  display: flex;
  height: 97px;
}
.home .hot-driver-circle .circle-list .item .circledetail-link .imglist img {
  width: 73px;
  height: 100%;
  margin-right: 1px;
}
.home .hot-driver-circle .circle-list .item .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
}
.home .hot-driver-circle .circle-list .item .info .head-imglist {
  display: flex;
  height: 100%;
  align-items: center;
}
.home .hot-driver-circle .circle-list .item .info .head-imglist img {
  width: 18px;
  height: 18px;
  margin-right: -4px;
  border-radius: 50%;
}
.home .hot-driver-circle .circle-list .item .info .sum {
  line-height: 22px;
  padding: 0 5px;
}
.home .hot-driver-circle .circle-list .item .info .join,
.home .hot-driver-circle .circle-list .item .info .no-join {
  height: 20px;
  padding: 4px 10px;
  border-radius: 10px;
}
.home .hot-driver-circle .circle-list .item .info .join {
  color: #9f9f9f;
  background: #f4f5f6;
}
.home .hot-driver-circle .circle-list .item .info .no-join {
  background: #ffe100;
}
.home .posts .item {
  padding: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.home .posts .item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.home .posts .item .head .left-info {
  display: flex;
  height: 100%;
}
.home .posts .item .head .left-info img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
}
.home .posts .item .head .left-info .post-head {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .posts .item .head .left-info .post-head .name {
  font-size: 14px;
  font-weight: bold;
}
.home .posts .item .head .left-info .post-head .post-time {
  color: #999;
}
.home .posts .item .head .no-follow {
  height: 28px;
  padding: 6px 18px;
  background: #ffe100;
  border-radius: 14px;
  font-weight: bold;
}
.home .posts .item .head .follow {
  height: 28px;
  padding: 6px 18px;
  font-weight: bold;
  color: #9f9f9f;
  background: #f4f5f6;
  border-radius: 14px;
}
.home .posts .item .post-link {
  display: block;
}
.home .posts .item .post-link .post-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
.home .posts .item .post-link .post-imglist {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home .posts .item .post-link .post-imglist img {
  width: 33%;
  max-height: 200px;
  margin-right: 2px;
}
.home .posts .item .bottom {
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home .posts .item .bottom .bottom-carcircle {
  height: 100%;
  padding-left: 25px;
  padding-right: 10px;
  line-height: 26px;
  background: url(../../../assets/img/车友圈@2x.png) no-repeat 5px;
  background-color: #f4f5f6;
  background-size: 16px;
  border-radius: 4px;
}
.home .posts .item .bottom .bottom-handle {
  display: flex;
  height: 100%;
}
.home .posts .item .bottom .bottom-handle .comment-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.home .posts .item .bottom .bottom-handle .comment-wrap .comment {
  width: 24px;
  height: 24px;
  background: url(../../../assets/img/评论@2x.png) no-repeat center;
  background-size: 20px;
  margin-right: 5px;
}
.home .posts .item .bottom .bottom-handle .support-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.home .posts .item .bottom .bottom-handle .support-wrap .support,
.home .posts .item .bottom .bottom-handle .support-wrap .no-support {
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: 18px;
  margin-right: 3px;
}
.home .posts .item .bottom .bottom-handle .support-wrap .support {
  background-image: url(../../../assets/img/点赞选中@2x.jpg);
}
.home .posts .item .bottom .bottom-handle .support-wrap .no-support {
  background-image: url(../../../assets/img/点赞@2x.jpg);
}
.home .issue {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 76px;
  right: 16px;
  background: #ffe100;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}
.modal-home {
  width: 130px;
  position: absolute;
  bottom: 140px;
  right: 18px;
}
.modal-home .am-modal-content {
  padding: 0;
}
.modal-home .am-modal-content .am-modal-body {
  padding: 0;
}
.modal-home .issue-imageandtext,
.modal-home .issue-question {
  color: #333;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  padding-left: 34px;
  font-weight: bold;
  background: no-repeat 20px center;
  background-size: 26px;
}
.modal-home .issue-imageandtext {
  background-image: url(../../../assets/img/图文.png);
}
.modal-home .issue-question {
  background-image: url(../../../assets/img/问答.png);
}
/*# sourceMappingURL=./index.css.map */