.home {
  margin-top: 45px;
  margin-bottom: 50px;
  .hot-driver-circle {
    height: 100%;
    border-bottom: 1px solid #f6f6f6;
    .title {
      height: 40px;
      line-height: 40px;
      padding-left: 25px;
      margin-left: 20px;
      background: url(../../../assets/img/热门车友圈@2x.png) no-repeat left;
      background-size: 18px;
      font-size: 14px;
      font-weight: bold;
      font-family: PingFangSC-Medium;
    }
    .circle-list {
      /*设置滚动条隐藏*/
      &::-webkit-scrollbar {
        display: none;
      }
      height: 205px;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 5px 0 20px 20px;
      .item {
        // width: 246px;
        height: 178px;
        padding: 0 12px;
        margin-right: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        .item-title {
          // width: 100%;
          height: 38px;
          line-height: 38px;
          font-size: 14px;
          font-weight: 600;
        }
        .imglist {
          display: flex;
          // width: 100%;
          height: 97px;
          img {
            width: 73px;
            height: 100%;
            margin-right: 1px;
          }
        }
        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 42px;
          .head-imglist {
            display: flex;
            height: 100%;
            align-items: center;
            img {
              width: 18px;
              height: 18px;
              margin-right: -4px;
              border-radius: 50%;
            }
          }
          .sum {
            line-height: 22px;
            padding: 0 5px;
          }
          .join {
            height: 20px;
            padding: 4px 10px;
            color: #9f9f9f;
            background: #f4f5f6;
            border-radius: 10px;
          }
          .no-join {
            height: 20px;
            padding: 4px 10px;
            background: #ffe100;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .posts {
    // overflow: auto;
    // /*设置滚动条隐藏*/
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .item {
      // box-sizing: border-box;
      // width: 100%;
      padding: 20px;
      border-bottom: 1px solid #f6f6f6;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
        .left-info {
          display: flex;
          height: 100%;
          img {
            width: 36px;
            height: 36px;
            margin-right: 8px;
            border-radius: 50%;
          }
          .post-head {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .name {
              font-size: 14px;
              font-weight: bold;
            }
            .post-time {
              color: #999;
            }
          }
        }
        .no-follow {
          height: 28px;
          padding: 6px 18px;
          background: #ffe100;
          border-radius: 14px;
          font-weight: bold;
        }
        .follow {
          height: 28px;
          padding: 6px 18px;
          font-weight: bold;
          color: #9f9f9f;
          background: #f4f5f6;
          border-radius: 14px;
        }
      }
      .post-content {
        // width: 100%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
      }
      .post-imglist {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        img {
          width: 33%;
          max-height: 200px;
          margin-right: 2px;
        }
      }
      .bottom {
        height: 26px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .bottom-carcircle {
          height: 100%;
          padding-left: 25px;
          padding-right: 10px;
          line-height: 26px;
          background: url(../../../assets/img/车友圈@2x.png) no-repeat 5px;
          background-color: #f4f5f6;
          background-size: 16px;
          border-radius: 4px;
        }
        .bottom-handle {
          display: flex;
          height: 100%;
          .comment-wrap {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 16px;
            .comment {
              width: 24px;
              height: 24px;
              background: url(../../../assets/img/评论@2x.png) no-repeat center;
              background-size: 20px;
              margin-right: 5px;
            }
          }
          .support-wrap {
            height: 100%;
            display: flex;
            align-items: center;
            .support {
              width: 24px;
              height: 24px;
              background: url(../../../assets/img/点赞@2x.jpg) no-repeat center;
              background-size: 18px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
  .issue {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 76px;
    right: 16px;
    background: #ffe100;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
  }
}
